.angular
.DS_Store
node_modules
dist
coverage
*.log
*.tsbuildinfo
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
*.tmp
*.pid
*.seed
*.pid.lock
libpeerconnection.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnp.*
.pnp.js
.pnp.cjs    
.pnp.loader.*