<!DOCTYPE html>
<html>
	<title name="title" value="Course Listing Page"> Course Listing Page </title>
<body>

<h1>Existing Courses</h1>
<p>This is list all the current Courses in memory.</p>
<div th:if=${#lists.isEmpty(courses)}>  
	<p> Not current courses to list! Sorry! </p>
</div>
<div th:if="${not #lists.isEmpty(courses)}">
        <h2>All Courses</h2>
        <table class="table table-striped">
            <tr>
                <th>Couse Id</th>
                <th>Name</th>
                <th>Instructor Name</th>
                <th>Launched Year</th>
                <th>Comapny</th>
                <th>Fees</th>
                <th>Description</th>
                <th>Start Data</th>
            </tr>
			
            <tr th:each="course : ${courses}">
                <td th:text="${course.courseId}">Id</td>
                <td th:text="${course.name}">Name</td>
                <td th:text="${course.instructor}">Instructor</td>
				<td th:text="${course.launchedYear}">Launch Year</td>
                <td th:text="${course.company}">Company</td>
                <td th:text="${course.fees}">Fees</td>
                <td th:text="${course.description}">Description</td>
				<td th:text="${course.startDate}">Start Date</td>
				<td th:text="${course.createdOn}">Created On</td>
            </tr>
        </table>
    </div>

</body>
</html>