<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<title name="title" value="Course Listing Page"> Course Listing Page </title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{header :: topbar}"/>


<h1>Existing Courses</h1>
<p>This is list all the current Courses in memory.</p>
<a th:href="@{/}">Back to Home</a>

<div th:if=${#lists.isEmpty(courses)}>  
	<p> Not current courses to list! Sorry! </p>
</div>
<div th:if="${not #lists.isEmpty(courses)}">
        <h2>All Courses</h2>
        <table class="table table-striped">
            <tr>
                <th>Couse Id</th>
                <th>Name</th>
                <th>Instructor Name</th>
                <th>Launched Year</th>
                <th>Company</th>
                <th>Fees</th>
                <th>Description</th>
                <th>Start Data</th>
				<th>Created On</th>
				<th>Details Link</th>
            </tr>
			
            <tr th:each="course : ${courses}">
                <td th:text="${course.courseId}">Id</td>
                <td th:text="${course.name}">Name</td>
                <td th:text="${course.instructor}">Instructor</td>
				<td th:text="${course.launchedYear}">Launch Year</td>
                <td th:text="${course.company}">Company</td>
                <td th:text="${course.fees}">Fees</td>
                <td th:text="${course.description}">Description</td>
				<td th:text="${#temporals.format(course.startDate,'dd/MMM/yyyy')}">Start Date</td>
				<td th:text="${#temporals.format(course.createdOn,'dd/MMM/yyyy HH:mm')}">Created On</td>
				<td>
					<!-- Link to detail page, passing course ID in the URL -->
				   <a th:href="@{/courses/{id}(id=${course.CourseId})}">View Details</a>
				                </td>
            </tr>
        </table>
		
		<!--${#temporals.format(course.startDate,'dd/MMM/yyyy HH:mm')} -->

    </div>
	<br>
	    <a th:href="@{/courses/add}">Add New Course</a>
		<div th:insert="~{footer :: copy}"/>
</body>
</html>